In [1]:
# Ejemplo recorrido por clave
financial_info = {
    'American Express': 93.23,
    'Boeing': 178.44,
    'Coca-Cola': 45.15,
    'Walt Disney': 119.34,
    'Nike': 97.99,
    'JPMorgan':96.27,
    'Walmart': 130.68 
}

for key in financial_info.keys():
    print(key)

American Express
Boeing
Coca-Cola
Walt Disney
Nike
JPMorgan
Walmart

In [2]:
# Ejemplo recorrido por valor
financial_info = {
    'American Express': 93.23,
    'Boeing': 178.44,
    'Coca-Cola': 45.15,
    'Walt Disney': 119.34,
    'Nike': 97.99,
    'JPMorgan':96.27,
    'Walmart': 130.68 
}

for value in financial_info.values():
    print(value)

93.23
178.44
45.15
119.34
97.99
96.27
130.68

In [6]:
# Ejemplo recorrido por valor y clave
financial_info = {
    'American Express': 93.23,
    'Boeing': 178.44,
    'Coca-Cola': 45.15,
    'Walt Disney': 119.34,
    'Nike': 97.99,
    'JPMorgan':96.27,
    'Walmart': 130.68 
}

for key, value in financial_info.items():
    print(f"Clave: {key} - Valor: {value}")

Clave: American Express - Valor: 93.23
Clave: Boeing - Valor: 178.44
Clave: Coca-Cola - Valor: 45.15
Clave: Walt Disney - Valor: 119.34
Clave: Nike - Valor: 97.99
Clave: JPMorgan - Valor: 96.27
Clave: Walmart - Valor: 130.68

In [4]:
# Ejercicio 1
# Calcule el valor total de todas las acciones. 

financial_info = {
    'American Express': 93,
    'Boeing': 178,
    'Coca-Cola': 45,
    'Walt Disney': 119,
    'Nike': 97,
    'JPMorgan': 96,
    'Walmart': 130
}

total_value = 0 # el valor que actualizarás en cada iteración del bucle

# escribe tu bucle for aquí. En cada iteración del ciclo, extrae el precio
for s in financial_info.values():
    total_value += s
# y actualiza la variable total_value

print(total_value)

758

In [7]:
# Ejercicio 2
# Calcular el valor total con items
financial_info = {
    'American Express': 93,
    'Boeing': 178,
    'Coca-Cola': 45,
    'Walt Disney': 119,
    'Nike': 97,
    'JPMorgan': 96,
    'Walmart': 130
}

total_value = 0

for clave, valor in financial_info.items():
    total_value += valor

print(total_value)

758