In [1]:
# Ejemplo 1
bus_schedule = {
    '72': ['8:00', '12:00', '17:30'],
    '26': ['9:30', '15:00'],
    '17': ['7:30', '12:30', '15:30']
}

# iteramos sobre las claves y los valores del diccionario
for route, times in bus_schedule.items():
    # iteramos sobre los valores de la lista
    for time in times:
        # mostramos la ruta y su horario correspondiente
	      print(f"Ruta {route} - Hora {time}")

Ruta 72 - Hora 8:00
Ruta 72 - Hora 12:00
Ruta 72 - Hora 17:30
Ruta 26 - Hora 9:30
Ruta 26 - Hora 15:00
Ruta 17 - Hora 7:30
Ruta 17 - Hora 12:30
Ruta 17 - Hora 15:30

In [2]:
# Ejemplo 2
bus_schedule = {
    '72': ['8:00', '12:00', '17:30'],
    '26': ['9:30', '15:00'],
    '17': ['7:30', '12:30', '15:30']
}

for route, times in bus_schedule.items():
    earliest_time = times[0]
    print(f'La primera hora para el autobús #{route} es {earliest_time}')

La primera hora para el autobús #72 es 8:00
La primera hora para el autobús #26 es 9:30
La primera hora para el autobús #17 es 7:30

In [3]:
# Ejemplo 3
movies_table = [
    ['The Shawshank Redemption', 'USA', 'drama', 1994, 142, 9.111],
    ['The Godfather', 'USA', 'drama, crime', 1972, 175, 8.730],
    ['The Dark Knight', 'USA', 'fantasy, action, thriller', 2008, 152, 8.499]
]

print(movies_table[2][3])

2008

In [4]:
# Ejemplo 4
movies_table = [
    {'movie_name':'The Shawshank Redemption', 'country':'USA', 'genre':'drama', 'year':1994, 'duration':142, 'rating':9.111},
    {'movie_name':'The Godfather', 'country':'USA', 'genre':'drama, crime', 'year':1972, 'duration':175, 'rating':8.730},
    {'movie_name':'The Dark Knight', 'country':'USA', 'genre':'fantasy, action, thriller', 'year':2008, 'duration':152, 'rating':8.499}
]

# ahora accedemos a la columna por su nombre:
print(movies_table[2]['movie_name'])

The Dark Knight